<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<form (ngSubmit)="scheduleNotification()">
	<input [(ngModel)] = "desc" type="text" name="desc">
	<button ion-button type="submit">Notificar!</button>
</form>

</ion-content>
